* {
  box-sizing: border-box;
}

html {
	background-repeat: repeat;
	height: 100%;
/*  	background: url('../img/white_stripe_bk.png');*/
	background: #001d26; /* Old browsers */

background: -moz-linear-gradient(top,  rgba(0,103,132,1) 0%, rgba(0,29,38,1) 45%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,103,132,1)), color-stop(45%,rgba(0,29,38,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,103,132,1) 0%,rgba(0,29,38,1) 45%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,103,132,1) 0%,rgba(0,29,38,1) 45%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,103,132,1) 0%,rgba(0,29,38,1) 45%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,103,132,1) 0%,rgba(0,29,38,1) 45%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006784', endColorstr='#001d26',GradientType=0 ); /* IE6-9 */



}

body {
	padding: 0;
	margin: 0;
}

.animation_wrapper {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: absolute;
}

#animation_container {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
	padding: 0;
	visibility: hidden;
}

#animation_container path {
	width: 100%;
}

#logo_paths {

}
#animation_container img {
	opacity: 0;
	margin-top: 10%;
	width: 100%;
}

.outline {

}

.fill {
    position: absolute;
}

.fill path {
	opacity: 0;
}